select {
    padding: 10px;
    border: 2px solid #2d3436;
    border-radius: 6px;
    background-color: #636e72;
    color: #fff;
}

input {
    padding: 10px;
    border: 2px solid #2d3436;
    border-radius: 6px;
    background-color: #636e72;
    color: #fff;
}

input::placeholder {
    color: #b2bec3;
}