@import 'reset.css';
@import 'grid.css';
@import 'buttons.css';
@import 'form-elements.css';

@import 'header.css';
@import 'search-bar.css';

body {
  font-family: Arial, sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px;
}

/* Card Styles */
#imageContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.card .photo-container {
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
}

.image {
  width: 100%;
  /* height: 200px; Set a fixed height for uniformity */
  object-fit: cover; /* Ensure images maintain aspect ratio and cover the container */
  display: block;
}

/* Modal Styles */

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 5px;
  padding: 40px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  max-width: 50%;
  max-height: 80%;
  z-index: 1000;
  overflow-y: scroll;
}

.hidden {
  display: none; /* Use this class to hide elements */
}

.close-modal-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 1.2em;
  color: #333;
  border: none;
  border-radius: 100%;
  background-color: #e0e0e0;
  width: 24px;
  height: 24px;
}

#favorites-container {
  display: none;
  border: 2px solid #007bff; /* Add a blue border to the container */
  border-radius: 5px;
  padding: 10px; /* Add some padding for spacing */
}

#favorites-container .card {
  width: 480px;
  margin: 5px; /* Add spacing between cards */
}

#favorites-container .image {
  height: 150px; /* Adjust the height of the images */
}

.card .favorite-button-container {
  text-align: right;
  background-color: gray;
  padding: 0.5rem 1.5rem;
}

.card .favorite-button-container .favorite-button {
  cursor: pointer;
}

.input-filed-error {
  border: 4px solid red;
}
img {
  height: 250px;
  width: 100%;

  object-fit: cover;
}
.photocard-container {
  width: 100%;
}
/* Responsive Styles */
/* @media (max-width: 768px) {
  .searchInput {
    width: 100%;
  }

  .card {
    width: calc(50% - 20px);
  }

  .modal {
    max-width: 90%;
  }
} */
